:root {
  --main-bg-color: #fff;
  --orange: #ff6b0a;
  --black: #1b1d1f;
  --black-70p: rgb(27 29 31 / 70%);
  --blue-gradient: linear-gradient(270deg, #a5deff 0%, #fcfeff 100%);
  --deep-blue: #005bbb;
}

/* common */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--main-bg-color);
  margin-bottom: 72px;
}

input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

button.accent {
  background-color: var(--orange);
  padding: 12px 24px;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

/* intro */
#intro {
  background: var(--blue-gradient);
  min-height: 720px;
}

#intro .container:first-child {
  position: relative;
  height: 0;
}

/* logo header */
#intro .logo {
  position: absolute;
  top: 35px;
  left: 0;
}

#intro .logo p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 125px;
  margin-left: 16px;
}

#intro .logo img {
  height: 30px;
}

/* action */
#intro .action {
  background-color: #fff;
  margin-top: 40px;
  padding: 60px 76px 60px 56px;
  align-self: center;
  max-height: 560px;
}

#intro .action p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#intro .action p.slogan {
  color: var(--orange);
  margin-top: 16px;
  font-size: 24px;
}

#intro h1 {
  margin-top: 48px;
}

#intro .action p.desc {
  font-weight: 400;
  margin-top: 24px;
}

#intro button.accent {
  margin-top: 60px;
}

#intro img.actor {
  margin: 0 -95px 0 24px;
  align-self: flex-end;
}

/* facts */
#facts {
  padding: 52px 0 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#facts h2 {
  margin: 16px 0;
  text-align: center;
}

#facts p.subhead {
  width: 875px;
  text-align: center;
}

#facts .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#facts .col {
  width: 33%;
}

#facts h3,
#facts p {
  padding: 0 47px;
}

#facts p {
  margin-top: 32px;
}

/* footer */
#footer {
  width: 100%;
  background: var(--blue-gradient);
  padding: 72px 148px;
}

#footer p,
#footer h2 {
  text-align: center;
}

/* modal */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black-70p);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3 ease-in-out;
}

.modal-form-container {
  background-color: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-close {
  position: absolute;
  right: 28px;
  top: -16px;
  color: var(--black);
  font-weight: 400;
  font-size: 32px;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal h3 {
  margin-top: 32px;
}

.modal p {
  margin: 12px 0;
}

.modal p.last {
  margin-bottom: 0;
}

.modal .form-field {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.modal .form-field label {
  margin-bottom: 8px;
}

.modal .form-field input {
  border: 1px solid var(--deep-blue);
  border-radius: 8px;
  height: 48px;
  padding: 4px 8px;
}

.modal button {
  margin-top: 40px;
}

/* media */
@media screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }

  #intro {
    min-height: auto;
  }

  #intro .action {
    padding: 40px;
  }

  #intro img.actor {
    margin: 0 0 0 24px;
  }
}
